body,html  {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.itemcontent {
    position: relative;
    left: 0;
    width: 100%;
    height: 70%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AmazonEmber';
    display: flex;
    align-items: flex-start;
}

.showitemcategory {
    font-size: 0.8125rem;
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    color: #565959;
}

.itemdetails {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5rem;
    width: auto;
}

.itemshowcontainer {
    width: 25rem; 
    height: 31.25rem;
}

.itemshowimg {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.showitemname {
    width: auto;
    min-width: 15rem;
    font-size: 1.8rem; 
    padding-bottom: 0.5rem;
    font-weight: bold; 
    color: #111; 
    margin-top: 0.625rem; 
}

.itemdiscription {
    color: black;
}

.showitemdiv {
    height: 34.375rem;
    width: 15.625rem;
    top: 4.375rem;
    margin-left: 22rem;
    border: 0.0625rem solid #D5D9D9;
    position: relative;
}

.showitemcost {
    margin-top: 1.5625rem;
    margin-left: 0.9375rem;
    font-weight: bolder;
    font-size: larger;
}

.instock {
    font-family: 'AmazonEmber';
    color: #007600;
    font-weight: none;
    font-size: larger;
    margin-top: 3.125rem;
    margin-left: 1.25rem;
}

.showitemdropdown {
    position: relative;
    display: inline-block;
    margin-top: 1.25rem;
    width: 2.5rem;
}

.showdropdownbutton {
    background-color: #F0F2F2;
    color: black;
    border-radius: 0.3125rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    user-select: none;
    position: absolute;
    margin-top: 0.3125rem;
    margin-left: 1.25rem;
    display: flex;
    align-items: center;
    width: 3.125rem;
}

.showdropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: 1.25rem;
    min-width: 4.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1005;
    top: 100%;
}

.showdropdowncontent label {
    display: block;
    padding: 0.75rem 1rem;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 3.125rem;
}
  
.showdropdowncontent label:hover {
    background-color: #ddd;
}
  
.showitemdropdown.active .showdropdowncontent {
    display: block;
}

.addtocartbutton {
    background-color: #FFD814;
    color: #000;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.9375rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.25rem;
    margin-top: 5rem;
    height: 2.1875rem;
    width: 12.5rem;
}

.buynow {
    background-color: #FFA41C;
    color: #000;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.9375rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.25rem;
    margin-top: 0.625rem;
    height: 2.1875rem;
    width: 12.5rem;
}

.descriptioncontainer {
    font-family: "AmazonEmber";
    font-weight: bold;
    font-size: 1.25rem;
    height: 12.5rem;
    width: 12.5rem;
}

.itemdescription {
    font-family: "AmazonEmber"; 
    font-weight: normal; 
    font-size: 0.9375rem;
    height: 12.5rem;
    width: 37.5rem;
    margin-top: 0.3125rem;
}

.separator {
    border: 0.0625rem solid grey; 
}
  
.itemspecs {
    width: 37.5rem;
    height: 37.5rem;
    position: relative;
    margin-left: 3.125rem;
}

.amazeonmodal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.amazeonmodalcontent {
    background: whitesmoke;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    width: 18.75rem;
}
  
.amazeonmodalheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}
  
.amazeonmodalclosebutton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: #555;
}
  
.amazeonmodalbody {
    margin-bottom: 1.25rem;
}
  
.amazeonmodalfooter {
    display: flex;
    justify-content: space-between;
}
  
.amazeonmodalorderbutton {
    background-color: #FFD814;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin-left: 10rem;
}

.amazonmodalopen {
    overflow: hidden;
}

.showdropdownbutton.modalopen {
    background-color: transparent;
    border: none;
}

.cartcontainer {
    position: relative;
}

.cartcontainer .smallcartnumber .number {
    position: relative;
    bottom: 1.5625rem;
    right: 3.4375rem;
    font-size: 1rem;
    font-weight: bold;
    color: #f08804;
    padding: 0.3125rem;
    border-radius: 50%;
    z-index: 2;
    margin-left: 1.25rem;
}

.cartcontainer .mediumcartnumber .number {
    font-size: 1rem;
    font-weight: bold;
    color: #f08804;
    z-index: 2;
}

.ratings {
    position: relative;
    margin-top: 0.3125rem;
}

.reviewsseperator {
    position: absolute;
    top: 45rem; 
    width: 85%;
    border: 0.0625rem solid gray;
    align-self: center;
    right: 8.4375rem;
}

.reviews {
    position: absolute;
    right: 7.5rem;
    top: 46.875rem; 
    width: 90.625rem;
    height: 62.5rem;
    text-align: left;
    font-size: 1.5625rem;
    font-weight: bold;
}

.customerreviews {
    position: relative;
    right: 11rem;
    width: 21.875rem;
    height: 12.5rem;
    text-align: left;
    font-weight: bolder;
    font-size: 1.5rem;
    bottom: 0.625rem;
    margin-top: 2.5rem;
    float: left;
}

.customerreviews .averagecustomerreviews {
    font-size: 1rem;
    margin-top: 0.625rem;
}

.formseperator {
    border: 0.0625rem solid gainsboro;
    width: 18.125rem;
    margin-right: 9.375rem;
}

.totalratings {
    margin-top: 0.625rem;
    color: gray;
    font-size: 1rem;;
}

.reviewthisproduct {
    font-size: 1.25rem;
    font-weight: bold;
}

.sharethoughts {
    margin-top: 0.3125rem;
    font-size: 0.9375rem;
    font-weight: 500;
}

.writeareview {
    margin-top: 0.9375rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid gainsboro;
    text-align: center;
    padding: 0.625rem;
    width: 16.875rem;
    height: 0.9375rem;
    margin-bottom: 1.25rem;
    cursor: pointer;
}

.otherreviews {
    position: relative;
    float: left;
    width: 65.625rem;
    height: 62.5rem;
    top: 1.25rem;
    text-align: left;
    font-size: 0.75rem;
}

.author {
    padding-left: 0.625rem;
    font-size: 1rem;
}

.reviewbody {
    padding-left: 0.625rem;
    font-size: 1rem;
    padding-top: 0.625rem;
}

.editanddelete {
    margin-left: 0.625rem;
    width: 9.375rem;
    height: 1.5625rem;
    margin-top: 0.3125rem;
}

.edit, .delete {
    display: inline-block; 
    margin-right: 0.625rem;
    padding-top: 0.3125rem;
}

.delete:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.edit:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}