body {
    margin: 0;
    padding: 0;
}
  
.navbar {
    display: flex;
    background-color: #131921;
    height: 60px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    color: white;
}
  
.amazeoncartsection .number {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #f08804;
    padding: 5px;
    border-radius: 50%;
    z-index: 2;
}

.amazeonhome {
    display: flex;
    align-items: center;
}
  
.amazeonhomepage {
    height: 30px; 
    width: auto;
    margin-left: 20px;
}
  
.searchcontainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: 165px;
    border-radius: 5px;
    width: 750px;
}
  
.categoriescontainer {
    position: relative;
}
  
.categories, .searchbox, .searchbutton {
    height: 40px;
    box-sizing: border-box;
}
  
.categories {
    display: flex;
    padding: 10px 16px;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    color: #0F1111;
    background-color: #e6e6e6;
    text-align: left;
    padding-top: 13px;
    position: relative;
}
  
.categories .arrowdown {
    width: 0;
    height: 0;
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 4px solid #000;
    margin-left: 5px;
    margin-top: 5px;
}
  
.dropdowncontent {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.categories:hover .dropdowncontent {
    display: block;
}

.searchbox {
    width: 700px;
    font-size: 0.9em;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 5px;
}
  
.searchbutton {
    background-color: #febd69;
    color: #111;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 0; 
    transition: background-color 0.3s;
}

.searchbutton:hover {
  background-color: #ddb347; 
}

.searchbuttonicon {
    font-size: 20px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    left: 200px;
}
  
.dropdownbutton {
    background-color: #131921;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: bold; 
}
  
.accountdropdowncontent {
    display: none;
    position: relative;
    background-color: white;
    min-width: 200px;
    min-height: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -40px;
    box-sizing: border-box;
    border-radius: 5px;
}
  
.accountdropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.accountdropdowncontent a:hover {
    color: #e77600; 
    text-decoration: underline;
}
  
.dropdown:hover .accountdropdowncontent {
    display: block;
}
  
.greeting {
    margin-left: 27px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
}

.accountdropdowncontent h3 {
    color: black;
    margin-left: 50px;
    margin-top: 20px;
}

.homesignoutlink {
    margin-top: 120px;
    margin-left: 50px;
}

.homesigninlink {
    margin-top: 120px;
    margin-left: 50px;
}

.amazeoncartsection {
    display: flex;
    align-items: center;
    left: 275px;
    position: relative;
    cursor: pointer;
    background-color: #131921;
    border: none;
}

.amazeoncartsection .amazeoncartimg {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.amazeoncartsection .cart {
    font-size: 0.9em;
    color: white;
}

.itemcontent {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 70%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AmazonEmber';
    display: flex;
    align-items: flex-start;
}

.showitemcategory {
    font-size: 13px;
    margin-top: 10px;
    margin-left: 20px;
    color: #565959
}

.itemdetails {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5em;
    width: auto;
}

.itemshowcontainer {
    width: 400px; 
    height: 500px;
}

.itemshowimg {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.showitemname {
    width: auto;
    min-width: 15em;
    font-size: 1.8em; 
    padding-bottom: 0.5em;
    font-weight: bold; 
    color: #111; 
    margin-top: 10px; 
}

.itemdiscription {
    color: black;
}

.showitemdiv {
    height: 550px;
    width: 250px;
    top: 70px;
    margin-left: 150px;
    border: 1px solid #D5D9D9;
    position: relative;
}

.showitemcost {
    margin-top: 25px;
    margin-left: 15px;
    font-weight: bolder;
    font-size: larger;
}

.instock {
    font-family: 'AmazonEmber';
    color: #007600;
    font-weight: none;
    font-size: larger;
    margin-top: 50px;
    margin-left: 20px;
}

.showitemdropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 40px;
}

.showdropdownbutton {
    background-color: #F0F2F2;
    color: black;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    user-select: none;
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 50px;
}

.showdropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: 20px;
    min-width: 72px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1005;
    top: 100%;
}

.showdropdowncontent label {
    display: block;
    padding: 12px 16px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 50px;
}
  
.showdropdowncontent label:hover {
    background-color: #ddd;
}
  
.showitemdropdown.active .showdropdowncontent {
    display: block;
}


.addtocartbutton {
    background-color: #FFD814;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 80px;
    height: 35px;
    width: 200px;
}

.buynow {
    background-color: #FFA41C;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    height: 35px;
    width: 200px;
}

.descriptioncontainer {
    font-family: "AmazonEmber";
    font-weight: bold;
    font-size: 20px;
    height: 200px;
    width: 200px;
}

.itemdescription {
    font-family: "AmazonEmber"; 
    font-weight: normal; 
    font-size: 15px;
    height: 200px;
    width: 600px;
    margin-top: 5px;
}

.separator {
    border: 1px solid grey; 
}
  
.itemspecs {
    width: 600px;
    height: 600px;
    position: relative;
    margin-left: 50px;
}

.amazeonmodal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.amazeonmodalcontent {
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}
  
.amazeonmodalheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.amazeonmodalclosebutton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}
  
.amazeonmodalbody {
    margin-bottom: 20px;
}
  
.amazeonmodalfooter {
    display: flex;
    justify-content: space-between;
}
  
.amazeonmodalorderbutton {
    background-color: #FFD814;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 160px;
}

.amazonmodalopen {
    overflow: hidden;
}

.showdropdownbutton.modalopen {
    background-color: transparent;
    border: none;
}

.cartcontainer {
    position: relative;
}

.cartcontainer .smallcartnumber .number {
    position: relative;
    bottom: 25px;
    right: 55px;
    font-size: 16px;
    font-weight: bold;
    color: #f08804;
    padding: 5px;
    border-radius: 50%;
    z-index: 2;
    margin-left: 20px;
}

.cartcontainer .mediumcartnumber .number {
    font-size: 16px;
    font-weight: bold;
    color: #f08804;
    z-index: 2;
}

.ratings {
    position: relative;
    margin-top: 5px;
}

.reviewsseperator {
    position: absolute;
    top: 720px; 
    width: 85%;
    border: 1px solid gray;
    align-self: center;
    right: 135px;
}

.reviews {
    position: absolute;
    right: 120px;
    top: 750px; 
    width: 1450px;
    height: 1000px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.customerreviews {
    position: relative;
    left: 10px;
    width: 350px;
    height: 200px;
    text-align: left;
    font-weight: bolder;
    font-size: 24px;
    bottom: 10px;
    margin-top: 40px;
    float: left;
}

.customerreviews .averagecustomerreviews {
    font-size: 16px;
    margin-top: 10px;
}

.formseperator {
    border: 1px solid gainsboro;
    width: 290px;
    margin-right: 150px;
}

.totalratings {
    margin-top: 10px;
    color: gray;
    font-size: 16px;;
}

.reviewthisproduct {
    font-size: 20px;
    font-weight: bold;
}

.sharethoughts {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
}

.writeareview {
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    text-align: center;
    padding: 10px;
    width: 270px;
    height: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.otherreviews {
    position: relative;
    float: left;
    width: 1050px;
    height: 1000px;
    top: 20px;
    text-align: left;
    font-size: 12px;
}

.author {
    padding-left: 10px;
    font-size: 16px;
}

.reviewbody {
    padding-left: 10px;
    font-size: 16px;
    padding-top: 10px;
}