body {
    margin: 0;
    padding: 0;
}

.cartindex {
    top: 3.75rem;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 3.75rem);
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto; 
    scroll-behavior: smooth;
    background-color: #EAEDED;
}

.cartitems-container {
    background-color: white; 
    border-radius: 0.3125rem; 
    margin-bottom: 1.25rem; 
}

.shoppingcart {
    font-family: "AmazonEmber";
    position: relative;
    left: 1.25rem;
    top: 3.75rem;
    padding: 1.25rem;
    width: 62.5rem;
    height: 18.75rem;
    font-size: 1.875rem;
    background-color: white;
    border: 0.0625rem solid white;
}

.itemsselected {
    font-family: "AmazonEmber";
    font-weight: none;
    margin-top: 0.1875rem;
    font-size: 0.9375rem;
}

.price {
    width: 2.0625rem;
    color: grey;
    position: absolute;
    right: 1.875rem;
    top: 3.75rem; 
    display: inline-block;
}

.grayline {
    margin-top: 0.3125rem;
    width: 100%;
    height: 0.0625rem; 
    background-color: #ccc; 
}

.cartitem {
    position: relative;
    right: 1.25rem;
    display: flex;
    padding: 0.625rem;
    width: 63.75rem;
    background-color: white;
    border-bottom: 0.0625rem solid #ddd; 
    height: 16.875rem;
    align-items: center;
}

.cartitemdetails {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 0.9375rem;
    position: relative;
    bottom: 1.875rem;
}

.cartindeximgcontainer {
    height: 12.5rem;
    width: 12.5rem;
    overflow: hidden;
    margin-right: 0.9375rem;
}

.cartindeximg {
    right: 2.1875rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cartitemdetails {
    flex-grow: 1;
}

.cartitem p {
    font-weight: bold;
    background-color: white;
    font-size: 0.75rem;
    margin: 0.3125rem 0;
    display: inline-block;
}

.cartcheckbox {
    display: flex;
    align-items: center;
    margin-right: 1.25rem;
}

.cartcheckbox input[type="checkbox"] {
    margin-right: 0.625rem;
}

.cartcheckbox label {
    font-size: 1rem;
}

.cartitemname {
    font-family: "AmazonEmber";
    font-size: 1.25rem;
    font-weight: bold;
    position: relative;
}

.descriptioncontainer {
    width: 37.5rem;   
    height: 6.25rem;
    text-overflow: ellipsis;
}

.emptycartmessage {
    display: flex;
    margin: 1.25rem;
    align-items: center;
    background-color: white;
    height: 6.25rem;
    width: 40.625rem;
    font-size: 1.5rem;
    color: #0F1111;
    padding: 1.25rem;
}

.empty-cart-message::before {
    font-weight: bold;
}

.costofitem {
    position: relative;
    right: 1.25rem;
    color: black;
    font-weight: bolder;
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.checkout {
    position: relative;
    background-color: white;
    width: 18.75rem;
    height: 9.375rem;
    left: 68.75rem;
    bottom: 17.5rem;
}

.subtotal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.cartitemdropdown {
    position: relative;
    top: 5.3125rem;
    font-size: small;
    width: 5.1875rem;
}

.cartdropdownbutton {
    background-color: #F0F2F2;
    color: black;
    border-radius: 0.3125rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    align-items: center;
    width: 3.125rem;
    position: relative;
    top: -0.1875rem;
  }

.cartdropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 5.125rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1005;
    bottom: 0.125rem;
    overflow: visible;
}

.cartdropdowncontent label {
    display: block;
    padding: 0.75rem 1rem;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    height: 0.625rem;
}
  
.cartdropdowncontent label:hover {
    background-color: #ddd;
}
  
.cartitemdropdown.active .cartdropdowncontent {
    display: block;
}

.checkoutbutton {
    position: relative;
    top: 1.875rem;
    right: 0.625rem;
    background-color: #FFD700;
    border-radius: 0.625rem;
    height: 1.875rem;
    width: 15.625rem;
    text-align: center;
    cursor: pointer;
    line-height: 1.875rem;
}

.deleteitem {
    position: relative;
    font-size: small;
    left: 4.6875rem;
    top: 1.25rem;
    cursor: pointer;
    width: 2.5rem;
}