body, html {
    font-family: "AmazonEmber", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.navbar {
    display: flex;
    background-color: #131921;
    height: 3.75rem;
    width: 100%;
    flex-direction: row;
    color: white;
    align-items: center;
}

.logoanddelivery {
    height: 3.75rem;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.amazeonhome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.9375rem;
    height: 3.25rem;
    width: 7.5rem;
    border-radius: 0.125rem;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    padding-top: 0.25rem;
    padding-left: 1.75rem;
}

.amazeonhomeimg {
    transform: scale(1.05);
    position: relative;
    top: 0.0625rem;
    height: 3.125rem;
    width: 6.5rem;
    padding-bottom: 0.1875rem;
    padding-right: 1.75rem;
    object-fit: contain;
}

.amazeonhome:hover {
    z-index: 1001;
    border: 0.0625rem solid white;
}

.delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 3.125rem;
    width: 9.6875rem;
    border-radius: 0.125rem;
    cursor: pointer;
    box-sizing: border-box;
}

.delivery:hover {
    z-index: 1001;
    border: 0.0625rem solid white;
}

.delivertoname {
    font-size: 0.75rem;
    line-height: 0.0547rem;
    height: 0.875rem;
    font-weight: 700;
    color: #ccc;
    bottom: 0.1rem;
    padding-left: 1rem;
}

.address {
    color: #fff;
    font-size: 0.875rem;
    line-height: 0.9375rem;
    font-weight: 700;
    position: relative;
    right: 1.375rem;
    bottom: 0.3rem;
}

.locationicon {
    position: relative;
    top: 0.1875rem;
    left: 0.125rem;
    height: 1.4375rem;
    width: 1.125rem;
}
  
.searchcontainer {
    height: 3.75rem;
    width: 63.75rem;
    position: relative;
    left: 1.5rem;
}

.categoriescontainer {
    height: 2.5rem;
    width: 3.25rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1.875rem;
    left: 0.0625rem;
}

.categories {
    text-align: center;
    background-color: #e6e6e6;
    border: 0.0625rem solid #cdcdcd;
    border-right: 0.0625rem solid #cdcdcd;
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    height: 2.5rem;
    width: 3.375rem;
    position: relative;
    right: 0.1875rem;
    margin-bottom: 0.125rem;
    display: block;
    color: #0f1111;
    font-size: 0.75rem;
    line-height: 2.0625rem;
    min-width: 1.1875rem;
    padding-right: 0.9375rem;
    appearance: none;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
}
  
.categories:focus {
    box-shadow: 0 0 0 0.125rem #f90, 0 0 0 0.1875rem rgba(255, 153, 0, 0.5);
    z-index: 1000;
}

.select .categories {
    width: 12.5rem;
    height: 1.875rem;
    padding: 0.3125rem 0.625rem;
}
  
.triangledown {
    position: relative;
    bottom: 4.5rem;
    left: 2rem;
    pointer-events: none;
    color: #555;
    height: 0.9375rem;
    width: 0.5625rem;
    transform: scale(0.78);
    padding-right: 0.25rem;
    padding-bottom: 0.125rem;
    z-index: 1001;
}

input.searchbox {
    position: relative;
    height: 2.375rem;
    width: 54.375rem;
    left: 2.25rem;
    bottom: 4.59375rem;
    border: transparent;
    border-left: 0.0625rem solid #cdcdcd;
    font-size: 0.875rem;
    outline: none;
    padding-left: 0.625rem;
}

.closingdiv {
    position: relative;
    top: 0.5625rem;
    width: 61.125rem;
    height: 2.5rem;
    right: 0.125rem;
    border-radius: 0.4375rem;
}

.closingdiv.focused {
    box-shadow: 0 0 0 0.125rem #f90, 0 0 0 0.1875rem rgba(255, 153, 0, 0.5);
    z-index: 1000;
}
  
.searchbutton {
    position: relative;
    bottom: 4.4375rem;
    left: 2.1875rem;
    background-color: #febd69;
    color: #111;
    width: 2.8125rem;
    height: 2.5rem;
    cursor: pointer;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}

.searchbutton:hover {
  background-color: #ddb347;
}

.searchbutton:focus {
    box-shadow: 0 0 0 0.125rem #f90, 0 0 0 0.1875rem rgba(255, 153, 0, 0.5);
}

.searchbuttonicon {
    font-size: 1.25rem;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 4.375rem;
}
  
.dropdownbutton {
    position: relative;
    left: 0.3125rem;
    top: 0.25rem;
    background-color: #131921;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
  
.accountdropdowncontent {
    display: flex;
    position: relative;
    background-color: black;
}
  
.accountdropdowncontent a {
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
}
  
.accountdropdowncontent a:hover {
    color: #e77600;
    text-decoration: underline;
}
  
.dropdown:hover .accountdropdowncontent {
    display: block;
}  

.languagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 2.8125rem;
    width: 4.375rem;
    border-radius: 0.125rem;
    left: 2.5rem;
    border: 0.0625rem solid #131921;
    font-weight: bolder;
}

.languagediv:hover {
    border: 0.0625rem solid white;
}

.flagdiv {
    position: relative;
    top: 0.1875rem;
    right: 0.1875rem;
    height: 0.875rem;
    width: 1.3125rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    position: relative;
    transform: scale(1.3);
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.language {
    position: relative;
    top: 0.25rem;
    font-size: 0.875rem;
    color: #fff;
}
  
.greetingdiv {
    position: relative;
    top: 0.0625rem;
    right: 1.875rem;
    height: 2.8125rem;
    width: 8.125rem;
    border-radius: 0.125rem;
    cursor: pointer;
    border: 0.0625rem solid #131921;
}

.greetingdiv:hover {
    border: 0.0625rem solid white;
}

.greeting {
    position: relative;
    top: 0.4rem;
    left: 0.8125rem;
    font-size: 0.75rem;
    cursor: pointer;
}

.accounttriangle {
    position: relative;
    left: 0.25rem;
    top: 0.0625rem;
    color: #d6d6d6;
    transform: scale(0.8);
}

.accountdropdowncontent h3 {
    color: black;
    margin-left: 3.125rem;
    margin-top: 1.25rem;
}

.homesignoutlink {
    padding: 0.3125rem;
    margin-top: 6.25rem;
    margin-left: 3.125rem;
}

.homesigninlink {
    padding: 0.3125rem;
    margin-top: 7.5rem;
    margin-left: 3.125rem;
}

.returnsdiv {
    height: 2.8125rem;
    width: 5rem;
    position: relative;
    right: 1.5625rem;
    font-size: 0.75rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #131921;
    cursor: pointer;
}

.returnsdiv:hover {
    border: 0.0625rem solid white;
}

.returns {
    position: relative;
    right: 0.0625rem;
    bottom: 0.0625rem;
    font-size: 0.75rem;
    left: 0.8125rem;
    top: 0.4375rem;
}

.orders {
    position: relative;
    right: 0.0625rem;
    bottom: 0.0625rem;
    font-size: 0.875rem;
    font-weight: 500;
    left: 0.8125rem;
    top: 0.4375rem;
}

.amazeoncartsection {
    height: 2.8125rem;
    width: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: #131921;
    right: 0.9375rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #131921;
}

.amazeoncartsection:hover {
    border: 0.0625rem solid white;
}

.amazeoncartsection .amazeoncartimg {
    position: relative;
    left: 0.3125rem;
    width: 1.5625rem;
    height: 1.5625rem;
    object-fit: cover;
    z-index: 1;
    transform: scale(1.5);
}

.amazeoncartsection .number {
    position: relative;
    top: 0.5rem;
    right: 1.1875rem;
    font-size: 1.0625rem;
    font-weight: bold;
    color: #f08804;
    padding: 0.3125rem;
    border-radius: 50%;
    z-index: 2;
    height: 0.3125rem;
    width: 1.25rem;
}

.amazeoncartsection .cart {
    position: relative;
    left: 0.75rem;
    bottom: 0.0625rem;
    font-size: 0.8125rem;
    color: white;
}

.navextra {
    position: relative;
    height: 2.4375rem;
    width: 100%;
    background-color: #232f3e;
}