body, html {
    margin: 0;
    padding: 0;
    font-family: "AmazonEmber", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.navbar {
    display: flex;
    background-color: #131921;
    height: 3.75rem;
    width: 100%;
    flex-direction: row;
    color: white;
    align-items: center;
    font-size: 0.875rem;
}

.logoanddelivery {
    height: 3.75rem;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.amazeonhome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.9375rem;
    height: 3.25rem;
    width: 7.5rem;
    border-radius: 0.125rem;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    padding-top: 0.25rem;
    padding-left: 1.75rem;
}

.amazeonhomeimg {
    transform: scale(1.05);
    position: relative;
    top: 0.0625rem;
    height: 3.125rem;
    width: 6.5rem;
    padding-bottom: 0.1875rem;
    padding-right: 1.75rem;
    object-fit: contain;
}

.amazeonhome:hover {
    z-index: 1001;
}

.amazeonhome:hover::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 0.0625rem solid white;
    border-radius: inherit;
}

.delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 3.125rem;
    width: 9.6875rem;
    border-radius: 0.125rem;
    cursor: pointer;
    box-sizing: border-box;
}

.delivery:hover::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 0.0625rem solid white;
    border-radius: inherit;
}

.delivertoname {
    font-size: 0.75rem;
    line-height: 0.875rem;
    height: 0.875rem;
    font-weight: 700;
    color: #ccc;
    position: relative;
    bottom: 0.5rem;
    padding-left: 1rem;
}

.address {
    color: #fff;
    font-size: 0.875rem;
    line-height: 0.9375rem;
    font-weight: 700;
    position: relative;
    right: 1.375rem;
    bottom: 0.6rem;
}

.locationicon {
    position: relative;
    top: 0.1875rem;
    left: 0.125rem;
    height: 1.4375rem;
    width: 1.125rem;
}

.searchcontainer {
    height: 3.75rem;
    width: auto;
    display: flex;
    align-items: center;
    position: relative;
    right: 0.25rem;
    flex: 1;
    margin: 0 1.5rem;
}

.closingdiv {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: white;
    flex: 1;
}

.closingdiv > * {
    margin: 0;
    padding: 0;
}

.closingdiv.focused {
    box-shadow: 0 0 0 0.125rem #f90, 0 0 0 0.1875rem rgba(255, 153, 0, 0.5);
    z-index: 1001;
}

.categoriescontainer {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: auto;
}

.categories {
    background-color: #e6e6e6;
    border: 0.0625rem solid #cdcdcd;
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    height: 2.5rem;
    color: #0f1111;
    font-size: 0.75rem;
    line-height: 2.0625rem;
    appearance: none;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
    display: inline-block;
}

.categories:focus {
    box-shadow: 0 0 0 0.125rem #f90, 0 0 0 0.1875rem rgba(255, 153, 0, 0.5);
    z-index: 1000;
}

.triangledown {
    position: relative;
    pointer-events: none;
    color: #555;
    height: 0.9375rem;
    transform: scale(0.75);
    z-index: 1001;
    right: 1rem;
    bottom: 0.125rem;
}

input.searchbox {
    position: relative;
    height: 2.5rem;
    width: calc(100% - 0.625rem);
    border: transparent;
    border-left: 0.0625rem solid #cdcdcd;
    font-size: 0.875rem;
    outline: none;
    padding-left: 0.5rem;
    right: 0.625rem;
}

.searchbutton {
    position: relative;
    background-color: #febd69;
    color: #111;
    width: 2.85rem;
    height: 2.5rem;
    cursor: pointer;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    left: 0.0625rem;
}

.searchbutton:hover {
    background-color: #ddb347;
}

.searchbutton:focus {
    box-shadow: 0 0 0 0.125rem #f90, 0 0 0 0.1875rem rgba(255, 153, 0, 0.5);
}

.searchbuttonicon {
    font-size: 1.25rem;
}

.otherinfo {
    display: flex;
    align-items: center;
    height: 3.75rem;
    width: 25rem;
    justify-content: space-evenly;
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownbutton {
    position: relative;
    left: 0.3125rem;
    top: 0.25rem;
    background-color: #131921;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.languagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 2.8125rem;
    width: auto;
    border-radius: 0.125rem;
    border: 0.0625rem solid #131921;
    font-weight: 700;
    right: 0.825rem;
    cursor: pointer;
    padding: 0 0.5rem;
}

.languagediv:hover::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 0.0625rem solid white;
    border-radius: inherit;
}

.flagdiv {
    position: relative;
    top: 0.1875rem;
    right: 0.1875rem;
    height: 0.875rem;
    width: 1.3125rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    position: relative;
    transform: scale(1.3);
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.language {
    position: relative;
    top: 0.25rem;
    font-size: 0.875rem;
    color: #fff;
}

.greetingdiv {
    position: relative;
    right: 1.25rem;
    height: 2.8125rem;
    width: auto;
    border-radius: 0.125rem;
    border: 0.0625rem solid #131921;
    padding: 0 0.5rem;
}

.greetingdiv:hover::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 0.0625rem solid white;
    border-radius: inherit;
}

.greeting {
    position: relative;
    top: 0.4rem;
    left: 0.8125rem;
    font-size: 0.75rem;
    cursor: pointer;
}

.accounttriangle {
    position: relative;
    left: 0.25rem;
    top: 0.0625rem;
    color: #d6d6d6;
    transform: scale(0.8);
}

.accountdropdowncontent {
    transition: all 0.3s ease;
    z-index: 1100;
    background-color: white;
    position: absolute;
    top: 2.7rem;
    right: -7.3rem;
    border-radius: 0.125rem;
    box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.1);
    border-radius: 0.3125rem;
}

.user-logged-in {
    width: 31.25rem;
    height: 40.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-logged-out {
    width: 31rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoutaccountdiv {
    width: 100%;
    height: 4.0625rem;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0.3125rem;
}

.accountsignin {
    width: 14.0625rem;
    position: relative;
    left: 0.625rem;
    height: 1.875rem;
    border: none;
    position: relative;
    cursor: pointer;
    background-color: #FFD814;
    border-radius: 0.5rem;
}

.accountsignin:hover {
    text-decoration: underline;
}

.customerdiv {
    width: 100%;
    height: 0.625rem;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 0.6875rem;
    position: relative;
    top: 0.3125rem;
    padding-top: 0.1875rem;
}

.breakline {
    height: 0.0625rem;
    width: 90%;
    background-color: #e0e0e0;
    margin: 0.625rem auto;
}

.listandaccount {
    width: 27.8125rem;
    height: 25.625rem;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-evenly;
}

.listbreakline {
    height: 95%;
    width: 0.0625rem;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0.625rem;
}

.listheader {
    width: 13.75rem;
    height: 25.625rem;
    padding-left: 0.625rem;
    padding-top: 0.3125rem;
    font-weight: 700;
    font-size: 1rem;
}

.list {
    width: 13.75rem;
    height: 25.625rem;
    padding-top: 0.3125rem;
    font-weight: 700;
    font-size: 1rem;
}

.list div {
    font-size: 0.875rem;
    padding-top: 0.3125rem;
    color: #444;
}

.list div:hover {
    color: #FF9900;
    text-decoration: underline;
    cursor: pointer;
}

.account {
    width: 13.75rem;
    height: 25.625rem;
    padding-left: 0.625rem;
    padding-top: 0.3125rem;
    font-weight: 700;
    font-size: 1rem;
}

.account div {
    font-size: 0.875rem;
    padding-top: 0.3125rem;
    color: #444;
}

.account div:hover {
    color: #FF9900;
    text-decoration: underline;
    cursor: pointer;
}

.newcustomer {
    padding-right: 0.1875rem;
}

.starthere {
    color: #0066c0;
    cursor: pointer;
}

.starthere:hover {
    color: #FF9900;
    text-decoration: underline;
}

.youraccount {
    width: 3.125rem;
    height: 3.125rem;
    color: black;
}

.loginaccountdiv {
    width: 90%;
    height: 53.125%;
    position: relative;
    top: 4.375rem;
}

.loginlistandaccount {
    width: 27.8125rem;
    height: 25.625rem;
    display: flex;
    flex-direction: row;
    color: black;
    padding: 0.625rem;
    position: relative;
}

.loginlistbreakline {
    height: 34.375rem;
    width: 0.0625rem;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0.625rem;
}

.loginlist {
    width: 13.75rem;
    height: 25.625rem;
    padding-top: 0.3125rem;
    font-weight: 700;
    font-size: 1rem;
}

.loginaccount div {
    font-size: 0.875rem;
    padding-top: 0.3125rem;
    color: #444;
}

.loginlist div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.loginaccount {
    width: 13.75rem;
    height: 25.625rem;
    padding-left: 0.9375rem;
    padding-top: 0.3125rem;
    font-weight: 700;
    font-size: 1rem;
}

.loginaccount div {
    font-size: 0.875rem;
    padding-top: 0.3125rem;
    color: #444;
}

.loginaccount div:hover {
    color: #FF9900;
    text-decoration: underline;
    cursor: pointer;
}

.returnsdiv {
    height: 2.8125rem;
    width: 5rem;
    position: relative;
    right: 1rem;
    font-size: 0.75rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #131921;
    cursor: pointer;
    bottom: 0.05rem;
}

.returnsdiv:hover::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 0.0625rem solid white;
    border-radius: inherit;
}

.returns {
    position: relative;
    right: 0.0625rem;
    bottom: 0.0625rem;
    font-size: 0.75rem;
    left: 0.8125rem;
    top: 0.4375rem;
}

.orders {
    position: relative;
    right: 0.0625rem;
    bottom: 0.0625rem;
    font-size: 0.875rem;
    font-weight: 500;
    left: 0.8125rem;
    top: 0.4375rem;
}

.amazeoncartsection {
    height: 2.8125rem;
    width: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: #131921;
    right: 0.5rem;
    border-radius: 0.125rem;
    border: 0.0625rem solid #131921;
}

.amazeoncartsection:hover::before {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 0.0625rem solid white;
    border-radius: inherit;
}

.amazeoncartsection .amazeoncartimg {
    position: relative;
    left: 0.3125rem;
    width: 1.5625rem;
    height: 1.5625rem;
    object-fit: cover;
    z-index: 1;
    transform: scale(1.5);
}

.amazeoncartsection .number {
    position: relative;
    top: 0.5rem;
    right: 1.1875rem;
    font-size: 1.0625rem;
    font-weight: bold;
    color: #f08804;
    padding: 0.3125rem;
    border-radius: 50%;
    z-index: 2;
    height: 0.3125rem;
    width: 1.25rem;
}

.amazeoncartsection .cart {
    position: relative;
    left: 0.75rem;
    bottom: 0.0625rem;
    font-size: 0.8125rem;
    color: white;
}

.navextra {
    position: relative;
    height: 2.4375rem;
    width: calc(100% - 15px);
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 14px;
    overflow: hidden;
    padding-left: 15px;
}

.faBarsText {
    width: 61px;
    padding: 0;
    height: 37px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.faBars {
    transform: scale(1.5);
    position: relative;
    font-size: 12px;
    padding-right: 5px;
}

.navextra div:not(:first-child) {
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.navextra div:hover {
    cursor: pointer;
    outline: 1px solid white;
}