body {
    margin: 0;
    padding: 0;
}

.creatingeareviewcontainer {
    position: fixed;
    width: 100%;
    top: 3.75rem;
    height: calc(100% - 3.75rem);
    font-family: 'AmazonEmber';
    left: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.createreview {
    width: 50rem;
    height: 46.875rem;
    padding: 1.25rem;
    font-weight: bolder;
    font-size: 1.5625rem;
}

.reviewimagecontainer {
    width: 7.5rem;
    height: 10rem;
    margin-top: 0.625rem;
    padding: 0.625rem;
    display: inline-block;
    text-align: left;
}

.reviewimage {
    width: 100%; 
    height: 100%; 
    object-fit: fill;
}

.itemreviewname {
    position: relative;
    width: 43.75rem;
    font-size: 0.875rem;
    bottom: 5.9375rem;
    left: 8.4375rem;
}

.reviewseperator {
    border: 0.0625rem solid gray;
    width: 100%;
}

.overallrating {
    font-size: 1.25rem;
}

.writtenreview {
    font-size: 1.25rem;
    font-weight: bold;
}

.reviewtextarea {
    width: 48.75rem;
    height: 12.5rem;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
    padding: 0.625rem;
}

.submitbutton {
    position: relative;
    background-color: #FFD814;
    border-radius: 0.625rem;
    left: 46.25rem;
    width: 3.125rem;
    height: 1.125rem;
    font-size: 0.75rem;
    padding: 0.3125rem;
    text-align: center;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 1.25rem;
    font-weight: bolder;
}
