.body {
    width: 0;
    height: 0;
}

.navbar {
    display: flex;
    background-color: #131921;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    color: white;
}

.amazeoncartsection .number {
    position: absolute;
    bottom: 20px;
    right: 43px;
    font-size: 16px;
    font-weight: bold;
    color: #f08804;
    padding: 5px;
    border-radius: 50%;
    z-index: 2;
}

.amazeonhome {
    display: flex;
    align-items: center;
}

.amazeonhomepage {
    height: 30px; 
    width: auto;
    margin-left: 20px;
}

.searchcontainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: 165px;
    border-radius: 5px;
    width: 750px;
}

.categoriescontainer {
    position: relative;
}

.categories, .searchbox, .searchbutton {
    height: 40px;
    box-sizing: border-box;
}

.categories {
    display: flex;
    padding: 10px 16px;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    color: #0F1111;
    background-color: #e6e6e6;
    text-align: left;
    padding-top: 13px;
}

.categories .arrowdown {
    width: 0;
    height: 0;
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 4px solid #000;
    margin-left: 5px;
    margin-top: 5px;
}

.dropdowncontent {
    display: none;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.categories:hover .dropdowncontent {
    display: block;
}

.searchbox {
    width: 700px;
    font-size: 0.9em;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 5px;
}

.searchbutton {
    background-color: #febd69;
    color: #111;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 0; 
    transition: background-color 0.3s;
}

.searchbutton:hover {
    background-color: #ddb347; 
}

.searchbuttonicon {
    font-size: 20px;
}

.dropdown {
    display: inline-block;
    left: 200px;
}

.dropdownbutton {
    background-color: #131921;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: bold; 
}

.accountdropdowncontent {
    display: none;
    background-color: white;
    min-width: 200px;
    min-height: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: -40px;
    box-sizing: border-box;
    border-radius: 5px;
}

.accountdropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.accountdropdowncontent a:hover {
    color: #e77600; 
    text-decoration: underline;
}

.dropdown:hover .accountdropdowncontent {
    display: block;
}

.greeting {
    margin-left: 27px;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
}

.accountdropdowncontent h3 {
    color: black;
    margin-left: 50px;
    margin-top: 20px;
}

.homesignoutlink {
    margin-top: 120px;
    margin-left: 50px;
}

.homesigninlink {
    margin-top: 120px;
    margin-left: 50px;
}

.amazeoncartsection {
    display: flex;
    align-items: center;
    left: 275px;
    cursor: pointer;
    background-color: #131921;
    border: none;
}

.amazeoncartsection .amazeoncartimg {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.amazeoncartsection .cart {
    font-size: 0.9em;
    color: white;
}

.createreview {
    top: 500px;
    text-align: left;
    right: 900px;
}
