body, html {
    font-family: "AmazonEmber", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.logincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.amazeonlogincontainer {
    width: 21.875rem;
    height: 4.375rem;
    margin-left: 0.8125rem;
    position: relative;
}

.amazeonlogin {
    width: 18.75rem;
    height: 4.375rem;
    object-fit: contain;
    position: relative;
    left: 1.25rem;
    transform: scale(1.2);
}

.loginheader {
    font-weight: 200;
    position: relative;
    bottom: 1.125rem;
    font-size: 1.75rem;
}

.loginemail, .loginpassword {
    font-weight: 700;
    position: relative;
    bottom: 1.25rem;
}

.login-container {
    position: relative;
    background-color: white;
    border: 0.0625rem solid #ddd;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
    margin: 0.9375rem;
    border-radius: 0.5rem;
    width: 18.5rem;
    height: 19.912125rem;
    bottom: 1.375rem;
}

.loginform {
    margin-bottom: 0.9375rem;
}

.loginform label {
    display: block;
    padding-left: 0.125rem;
    padding-bottom: 0.3125rem;
    font-weight: 700;
    font-size: 0.75rem;
}

.loginform input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 0.0625rem solid #a6a6a6;
    border-radius: 0.1875rem;
    position: relative;
    bottom: 1.25rem;
    height: 1.9375rem;
}

.loginform button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #FFD814;
    color: black;
    padding: 0.625rem;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 0.8125rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 1.5625rem;
    height: 1.875rem;
    text-align: center; 
}

.haveaccount a {
    color: #0066C0;
    text-decoration: none;
}

.haveaccount a:hover {
    text-decoration: underline;
}

.loginform input:focus {
    outline: none;
    box-shadow: 0 0 0 0.1875rem #c8f3fa;
}

.divider {
    display: flex;
    align-items: center;
    width: 18%;
    background-color: transparent;
    height: 0.0625rem;
    position: relative;
    bottom: 0.4375rem;
}

.divider-text {
    line-height: 1;
    font-size: 0.75rem;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 0.5rem 0 0.4375rem;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-top: 0.0625rem solid #e7e7e7;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.createaccount button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #0F1111;
    padding: 0.625rem;
    border: 0.0625rem solid #D5D9D9;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.8125rem;
    width: 21.875rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 0.625rem;
    height: 1.9375rem;
    text-align: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.demologin button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #FFD814;
    color: #0F1111;
    padding: 0.625rem;
    border: 0.0625rem solid #D5D9D9;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 0.8125rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 1.875rem;
    bottom: 1.875rem;
    text-align: center;
}

.login-container button:hover {
    background-color: #f0b800;
}

.signin-lastlinebreak {
    position: relative;
    background-color: transparent;
    display: block;
    height: 0.0625rem;
    border-width: 0;
    background-color: #e7e7e7;
    bottom: 1.25rem;
}

.signin-socials {
    position: relative;
    bottom: 0.3125rem;
    font-weight: 700 !important;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
}

.icon-link {
    display: inline-block;
    margin-right: 0.625rem;
}

.linkedin {
    position: relative;
    color: #0077B5;
    top: 0.1875rem;
}

.github {
    position: relative;
    color: #000000; 
    top: 0.1875rem;
}

.end-divider {
    position: absolute;
    width: 100%;
    height: 0.0625rem;
    background-color: transparent;
    background: -webkit-linear-gradient(to right, rgba(231, 231, 231, 0), #e7e7e7, rgba(231, 231, 231, 0));
    background: linear-gradient(to right, rgba(231, 231, 231, 0), #e7e7e7, rgba(231, 231, 231, 0)); 
    margin: 1.25rem 0;
    left: 0;
    bottom: 25rem;
}

.ending {
    text-align: center;
    position: relative;
    top: 6.625rem;
    font-size: 0.6875rem !important;
    line-height: 1.465 !important;
    font-weight: bold;
    color: #555 !important;
}