.amazeonlogincontainer {
    width: 350px;
    height: 70px;
    margin-left: 13px;
    position: relative;
}

.amazeonlogin {
    width: 300px;
    height: 70px;
    object-fit: contain;
    position: relative;
    left: 20px;
    transform: scale(1.2);
}

html {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.loginheader {
    font-weight: 200;
    position: relative;
    bottom: 18px;
}

.loginemail, .loginpassword {
    font-weight: 700;
    position: relative;
    bottom: 20px;
}

.login-container {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 26px;
    margin: 15px;
    border-radius: 8px;
    width: 296px;
    height: 318.594px;
    bottom: 22px;
}

.loginform {
    margin-bottom: 15px;
}

.loginform label {
    display: block;
    padding-left: 2px;
    padding-bottom: 5px;
    font-weight: 700;
}

.loginform input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    position: relative;
    bottom: 20px;
    height: 31px;
}

.loginform button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #FFD814;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 20px;
    height: 30px;
    text-align: center; 
}

.haveaccount a {
    color: #0066C0;
    text-decoration: none;
}

.haveaccount a:hover {
    text-decoration: underline;
}

.loginform input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #c8f3fa;
}

.divider {
    display: flex;
    align-items: center;
    width: 92%;
    background-color: transparent;
    height: 1px;
    position: relative;
    left: 15px;
    bottom: 7px;
}

.divider-text {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-top: 1px solid #e7e7e7;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.createaccount button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #0F1111;
    padding: 10px;
    border: 1px solid #D5D9D9;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    width: 92%;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 10px;
    height: 31px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.demologin button {
    display: block;
    justify-content: center;
    background-color: #FFD814;
    color: #0F1111;
    padding: 10px;
    border: 1px solid #D5D9D9;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.end-divider {
    position: absolute;
    width: 100%;
    height: 1px; 
    background-color: transparent;
    background: -webkit-linear-gradient(to right, rgba(231, 231, 231, 0), #e7e7e7, rgba(231, 231, 231, 0));
    background: linear-gradient(to right, rgba(231, 231, 231, 0), #e7e7e7, rgba(231, 231, 231, 0)); 
    margin: 20px 0; 
    left: 0;
    bottom: 398px;
}

.ending {
    text-align: center;
    position: relative;
    top: 90px;
    font-size: 11px !important;
    line-height: 1.465 !important;
    font-weight: bold;
    color: #555 !important;
}